.vs
packages/
TP1/bin
TP1/obj
TP1copy/bin
TP1copy/obj
TP1_app/bin
TP1_app/obj
TP1_test/bin
TP1_test/obj
Task2Solution/Serialization/bin
Task2Solution/Serialization/obj
Task2Solution/TestSerialization/bin
Task2Solution/TestSerialization/obj
Task2Solution/SampleClasses/bin
Task2Solution/SampleClasses/obj
Task3Solution/Task3/bin
Task3Solution/Task3/obj
Task3Solution/Task3Tests/bin
Task3Solution/Task3Tests/obj
Task4Solution/Model/obj
Task4Solution/View/obj
Task4Solution/ViewModel/obj
Task4Solution/Model/bin
Task4Solution/View/bin
Task4Solution/ViewModel/bin
Task4Solution/Logic/bin
Task4Solution/Logic/obj
Task4Solution/Data/obj
Task4Solution/Data/bin
Task4Solution/Task4Tests/bin
Task4Solution/Task4Tests/obj


